<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand">WEBSTORE</a>

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                                <li>
                                    <a href="{{ path('add_product_form') }}">
                                        Insert Product
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('all_products') }}">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_logout') }}">
                                        Logout
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('user_register') }}">
                                        REGISTER
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_login') }}">
                                        LOGIN
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('showcart') }}">
                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                        {{ render(controller('StoreBundle:Cart:navbarCart')) }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-12">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container modal-footer">
                <p>&copy; 2017 - Webstore Project APCH2</p>
            </div>
        </footer>
    {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
            <script src="{{ asset('js/js.cookie.js') }}"></script>
            <script src="{{ asset('js/cart.js') }}"></script>
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-confirmation.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
